<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Credit and Debit's details</h4>

        <table class="table">
          <thead>
          <tr>
            <th>Description</th>
            <th>Amount</th>
            <th>Tipo</th>
            <th>Actions</th>
          </tr>
          </thead>

          @if ((creditDebit$| async)!==null && (creditDebit$| async)?.items !== undefined && (creditDebit$| async)?.items !== null){


            <tbody>
            <tr *ngFor="let item of (creditDebit$| async)!.items  | orderByCreditDebit">
              <td>{{item.description}}</td>
              <td>{{item.amount | currency}}</td>
              <td>
               <span  [ngClass]="{
               'text-success': item.type =='credit',
                'text-danger': item.type =='debit'
               }" ></span> {{item.type}}
              </td>
              <td>
                <button class="btn btn-danger" (click)="removeItemAsync(item.uid)">
                  <i class="fa fa-trash">&#160;Remove</i>
                </button>
  
              </td>
            </tr>
            </tbody>

          }

        </table>


      </div>
    </div>
  </div>
</div>

